/*固定底部占满一行的按钮*/

.footerBloackBtn {
    width: 100%;
    height: 2rem;
    /*position: fixed;*/
    /*bottom: 0;*/
    margin-top: .8rem;
    overflow: hidden;
    /*border: 1px solid red;*/
}

.footerBloackBtn button {
    width: 100%;
    height: 2rem;
    background-color: #FBF67E;
    /*display: inline-block;*/
    color: #000;
}

.diy-img {
    width: 100%;
    /*height: 58%;*/
    text-align: center;
    vertical-align: middle;
    position: relative;
    /*border: 1px solid red;*/
}

.diy-img p {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.diy-img img {
    width: 14rem;
    height: 14rem;
    margin-top: 1.3rem;
}




.diy-img img.yinhua {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 7rem;
    right: 7rem;
}

.diy-img img.xiubiao {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    right: 11rem;
}

.diy-img img.yibiao {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 4rem;
    right: 5rem;
}

.diy-img img.cixiu {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 9rem;
    right: 9rem;
}



/*.car-body ul{
    width: 100%;
    text-align: center;
}

.car-body ul li {
    width: 100%;
}

.car-body span{
    width: 30%;
}*/

.car-body table {
    width: 100%;
    margin: 0 auto;
}

.car-body table tr td {
    text-align: center;
    border: 1px solid #999;
}

.car-body table tr td img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.car-body table tr td .t-color-button {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
}

