/*固定底部占满一行的按钮*/

.footerBloackBtn {
    width: 100%;
    height: 2rem;
    /*position: fixed;*/
    /*bottom: 0;*/
    margin-top: .8rem;
    overflow: hidden;
    /*border: 1px solid red;*/
}

.footerBloackBtn button {
    width: 100%;
    height: 2rem;
    background-color: #FBF67E;
    /*display: inline-block;*/
    color: #000;
}

.diy-img {
    width: 100%;
    /*height: 58%;*/
    text-align: center;
    vertical-align: middle;
    position: relative;
    /*border: 1px solid red;*/
}

.diy-img p {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.diy-img img {
    width: 14rem;
    height: 14rem;
    margin-top: 1.3rem;
}




.diy-img img.yinhua {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 7rem;
    right: 7rem;
}

.diy-img img.xiubiao {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    right: 11rem;
}

.diy-img img.yibiao {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 4rem;
    right: 5rem;
}

.diy-img img.cixiu {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 9rem;
    right: 9rem;
}





.detail-header {
    width: 100%;
    height: 10rem;
    position: relative;
    background-color: yellow;
    background-image: url("../images/user-bg.jpg");
    background-size: 100%;
}


.detail-header p {
    position: absolute;
    left: 50%;
    top: 5rem;
    width: 5rem;
    margin-left: -2.5rem;
    text-align: center;
}

.detail-header img {
    position: absolute;
    left: 50%;
    top: 8rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 2.5px 4.33px 7px 0px rgba(0, 0, 0, 0.18);
    width: 3rem;
    height: 3rem;
    margin-left: -1.25rem;
}
