<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>定制2</title>
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./plug/need/layer.css" />
    <link rel="stylesheet" href="./css/diy2.css">
</head>

<body>
    <div class="diy-img">
        <p>{{tData.sizeList[submitData.size].text}}</p>
        <!-- 这里应该是显示最后颜色时选的款型 + 颜色 -->
        <img :src="tData.colorList[this.submitData.color].imgSrc" alt="">
        <!-- 印花 -->
        <img class="yinhua" v-show="submitData.yinhua && submitData.yinhua.id != 0" :src="submitData.yinhua.imgSrc" alt="">
        <!-- 袖标 -->
        <img class="xiubiao" v-show="submitData.xiubiao && submitData.xiubiao.id != 0" :src="tData.xiubiaoList[submitData.xiubiao.id].imgSrc" alt="">
        <!-- 衣标 -->
        <img class="yibiao" v-show="submitData.yibiao && submitData.yibiao.id != 0" :src="tData.yibiaoList[submitData.yibiao.id].imgSrc" alt="">
        <!-- 刺绣 -->
        <img class="cixiu" v-show="submitData.cixiu && submitData.cixiu.id != 0" :src="tData.cixiuList[submitData.cixiu.id].imgSrc" alt="">
    </div>
    <div class="diy-select">
        <div class="diy-select-top">
            <a v-for="item in menus" :class="{'active': item.id == show.selectBody}" @click="selectMenu(item)" href="javascript:void(0);">{{item.text}}</a>
        </div>
        <!-- 印花 -->
        <div class="diy-select-body" v-show="show.selectBody == 'yinhua'">
            <div class="diy-select-body-left">
                <div class="diy-select-body-left-imgdiv" @click="addYourImg">
                    <img src="./images/add-btn.png" alt="">
                </div>
                <p class="diy-select-body-left-youimg">你的图案</p>
            </div>
            <div class="diy-select-body-right">
                <ul class="diy-select-body-right-body">
                    <li v-for="item in tData.yinhuaObj[show.yinhuaType]" @click="showYinhuaPic(item)">
                        <img :src="item.imgSrc" alt="">
                    </li>
                </ul>
                <ul class="diy-select-body-right-bottom">
                    <li :class="show.yinhuaType == 'default' ? 'active' : ''" @click="yinhuaTap('default')">默认</li>
                    <li :class="show.yinhuaType == 'hot' ? 'active' : ''" @click="yinhuaTap('hot')">热门</li>
                    <li :class="show.yinhuaType == 'a' ? 'active' : ''" @click="yinhuaTap('a')">A系列</li>
                    <li :class="show.yinhuaType == 'more' ? 'active' : ''" @click="yinhuaTap('more')">More</li>
                </ul>
            </div>
        </div>
        <!-- 袖标 -->
        <div class="diy-select-body" v-show="show.selectBody == 'xiubiao'">
            <ul>
                <li v-for="item in tData.xiubiaoList" @click="showPic(item, 'xiubiao')">
                    <img :src="item.imgSrc" alt="">
                    <p>{{ item.text }}</p>
                </li>
            </ul>
        </div>
        <!-- 衣标 -->
        <div class="diy-select-body" v-show="show.selectBody == 'yibiao'">
            <ul>
                <li v-for="item in tData.yibiaoList" @click="showPic(item, 'yibiao')">
                    <img :src="item.imgSrc" alt="">
                    <p>{{ item.text }}</p>
                </li>
            </ul>
        </div>
        <!-- 刺绣 -->
        <div class="diy-select-body" v-show="show.selectBody == 'cixiu'">
            <ul>
                <li v-for="item in tData.cixiuList" @click="showPic(item, 'cixiu')">
                    <img :src="item.imgSrc" alt="">
                    <p>{{ item.text }}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerBloackBtn" @click="submit">
        <button>直接上传</button>
    </div>
    <script src="./plug/vue.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./plug/layer.js"></script>
    <script src="./js/diy2.js"></script>
</body>

</html>
